@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

#root {
  height: 100vh;
  position: relative;
  display: flex;
}

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navig {
  max-width: 16rem;
  width: 100%;
}